<div class="main-container">

  <div class="sub-container">

    <mat-card>
      <mat-card-title>
        Main Menu
      </mat-card-title>
      <div class="sub-sec">
        <mat-card-subtitle>Select a Season</mat-card-subtitle>
        <mat-form-field appearance="fill">
          <mat-label>Choose an option</mat-label>
          <mat-select width="120px" panelClass="mat-select-class" [(ngModel)] = "selectedValue">
            <mat-option *ngFor="let str of seasons" [value]="str">{{str}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="btn-sec">
          <button mat-raised-button color="primary" (click)="leagueTableNav()">League Table</button>
          <button mat-raised-button color="accent">Match Details</button>
        </div>
      </div>
    </mat-card>



  </div>

</div>
