<div class="main-container">

  <div class="sub-container">

    <mat-card>
      <mat-card-title>
        Main Menu
      </mat-card-title>
      <div class="sub-sec">
        <mat-card-subtitle>Select a Season</mat-card-subtitle>
        <mat-form-field appearance="fill">
          <mat-label>Choose an option</mat-label>
          <mat-select width="120px" panelClass="mat-select-class">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="btn-sec">
          <button mat-raised-button color="primary">League Table</button>
          <button mat-raised-button color="accent">Match Details</button>
        </div>

      </div>
    </mat-card>

  </div>

</div>
