.main-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.sub-container{
  width: 30%;

  .sub-sec{
    padding-top: 10px;
    //border: 2px solid black;
  }

  mat-form-field{
    width: 100%;
  }

  .btn-sec{
    width: 100%;
    button{
      width: 48%;
      margin-left: 5px;
    }
  }

}



